---
layout: feature
tags: features
title: Mapped out routes
text: Walk along a mapped out route or record you own route and share it with the community.
img: ./assets/images/route.svg
eleventyNavigation:
  key: Route
  order: 2
  parent: Features
---

{% for feature in featureRoute %}

    <div class="feature-detail__block">

        <p>
            {{ feature.text }}
        </p>

        <div class="feature-detail__block__img">

            <span class="feature-detail__block__img__bg"></span>

            <img src="{{ feature.img }}" alt="{{ feature.alt }}">
            
        </div>

    </div>
    
{% endfor %}