// colors
$primary-color: #0025B8;
$secondary-color: #F8F8F8;
$white-color: #fff;
$white-60-color: #ffffff99;
$black-color: #1D1D1D;
$black-16-color: #1c1c1c29;
$grey-color: #C7C7C7;
$grey-dark-color: #8F8F8F;

// font weights
$weight-100: 100;
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;
$weight-900: 900;

// spacing
$extra-small-spacing: 0.5rem;
$small-spacing: 0.75rem;
$medium-spacing: 1rem;
$big-spacing: 1.5rem;
$extra-big-spacing: 2rem;