---
layout: aboutContact
title: About
eleventyNavigation: 
    key: About
    order: 4
img: about.jpg
---

<p>

    Walk-A-Wish® lets you turn a neighborhood stroll or weekend hike into a fundraiser for good. Just choose a charity and get moving. The app tracks your movement. For every mile you log, you help to earn money for your chosen charity.

</p>

<p>

    Choose from over 100 charities that are making a big impact on health, children, animals, the environment, education, veterans and more.

</p>

<p>

    When you move for charity, you are telling yourself a story about what’s important to you. Side effects may include empathy, mindfulness and gratitude.

</p>

<p>

    We hope you enjoy our app as much as we enjoy offering it to you. If you have any questions or comments, please don't hesitate to <a href="/contact">contact us</a>.

</p>

<p class="padding-top">

    Sincerely,

</p>

<p class="padding-top">

    Jan Deschacht

</p>